.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
input {
  padding: 8px;
  font-size: 30px;
}
button {
  padding: 10px;
  cursor: pointer;
  font-size: 30px;

}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}
h1 {
  font-size: 100px;
  text-align: center;

}